[user]
	name = Deokgyu Yang
	email = secugyu@gmail.com

[github]
	user = awesometic

[core]
	editor = nvim

[color]
	ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto

[http]
	postBuffer = 524288000
